### IntelliJ IDEA ###
out/
!**/src/**/out/
!**/examples/**/out/
!**/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/
!**/examples/**/bin/
!**/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/build/
/lib/
/waf-*
/.waf*/
.lock-waf*
